* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}
h1,h2,h3{
    font-family: 'Lato', sans-serif;
}

article,p,ul,small{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 1160px;
    margin: auto;
}

/*/////////////////header/////////////*/
header {
    background-color: #782221;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imguser {

    box-shadow: blue 0 0 20px;
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 150px;
    height: 150px;
}

.name {
    margin-bottom: 3rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 8rem;
    padding: 3rem;
    background-color: #2c1d27;
}

/*/////////////aside///////////  */

.textapropo{
    color: white;

}

.pointWhite{
    color: white;
}

.navig {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.navig:hover{
    text-decoration: underline;
}
/*///////////////main//////////////*/

main {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;

}

.globalsecaside {
    width: 60%;
}

.asideGlobal {
    display: flex;
    flex-direction: column;
    background-color: #782221;
    width: 30%;
    color: black;
}

.textapropo {
    text-align: justify;
    width: 87%;
    text-indent: 5rem;
    padding: 2rem;
}

.h3propo {
    padding: 0.5rem;
    width: 80%;
    background-color: #dbc2a4;

}

.colorAbout {
    background-color: #dbc2a4;
    text-align: start;
    padding-left: 1rem;
    width: 82rem;
    height: 2rem;

}

.tiret {
    border: solid #782221;
    width: 0;
    height: 2rem;
}

.testcolor{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.pointWhite {
    margin-left: 1rem;
    padding: 2rem;
}
/*/////////////main/Xp///////////*/

.xp {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 70%;
    border: solid lightgrey;

}

.traithover{
    width: 100%;
}

.traithover:hover{
    border-right: #782221 solid 4px;
}

.year{
    margin: 1rem;

}

.school{
    margin-left: 1rem;
}

.ul {
    margin-left: 3rem;
}

/*////////////footer/////////*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #782221;
    height: 10rem;
}

.fa-brands, .fa-linkedin, .fa-square-github, .fa-square-x-twitter {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
    color: black;
}

.fa-square-x-twitter:hover{
    opacity: 60%;
}

.date {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.2rem;
}
